.venv/
.env
/__pychache__
*.pyc
.vscode/
*.db 
winPython/
test/
*.logs
*.log
/LOGS
/tests
venv
.last_req_hash  
/app/static/uploads
*.json
*.DB

*.pkl
/migrations/versions
*.ini
/notebooks
.venv2/
*.Identifier
.idea/

*.ipynb
current_reqs.txt 
reqs_diff.txt 
script_log.txt 
