<div class="modal fade" id="mobileFiltersModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-bottom">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Filters</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div id="mobile-filters-container"></div>
        </div>
        <div class="modal-footer">
          <button id="mobile-apply-filters" class="btn btn-primary w-100">Apply</button>
        </div>
      </div>
    </div>
  </div>